.order {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;

  &__item {
    height: 40px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      font-style: italic;
    }

    &-price {
      color: red;
    }

    .summ {
      font-weight: bold;
      color: red;
      font-size: 18px;
    }
  }
}
